@use "../abstracts/colors" as *;

.hamburger {
  position: absolute;
  position: fixed;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
  &-inner,
  &-inner::before,
  &-inner::after {
    background-color: white;
    z-index: 500;
  }
}

.nav {
  &-mobile {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    transform: translateX(-102%);
    transition: transform 0.4s;
    z-index: 10;

    &--active {
      transform: translateX(0);
    }
  }
  &-desktop {
    display: none;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    color: $darker;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: $gold;
    }
  }
}

@media (min-width: 992px) {
  .nav {
    grid-column: 1/2;
    grid-row: 1/2;
    &-desktop {
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    &__link {
      color: $white;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        border: 1px solid $gold;
        opacity: 0;
      }
      &:hover::before {
        animation: pulse 1s;
      }
    }
  }
  .hamburger {
    display: none;
  }
}
