@use "../abstracts/colors" as *;

.info {
  position: relative;
  display: grid;
  padding: 6em 2em;
  grid-template-areas:
    "title"
    "box"
    "box";
  &__-title {
    grid-area: title;
  }
  &__boxes {
    grid-area: box;
  }
  &__box-img {
    width: 100%;
    object-fit: cover;
    filter: sepia();
  }
  &__box-title {
    margin: 0.3em 0;
    font-size: 2.6rem;
    color: $gold;
    font-weight: 200;
  }
  &__box-text {
    margin-bottom: 0.5em;
  }

  &__box-link {
    display: block;
    margin-bottom: 2em;
    color: $gold;
    font-weight: 900;
    text-decoration: none;
    text-align: right;
    transition: color 0.3s;
    &:hover {
      color: $darkgold;
    }
  }
  &__bg-icon {
    display: none;
  }
}

@media (min-width: 576px) {
  .info {
    grid-template-areas:
      "title box"
      "title box"
      "title box";
    padding: 10em 2em;
    &__box {
      display: grid;
      justify-content: end;
      &-img,
      &-text {
        max-width: 500px;
      }
    }
    &__title {
      top: 4em;
      position: sticky;
      padding: 0 1em;
    }
    &__bg-icon {
      position: absolute;
      display: block;
      opacity: 0.05;
      z-index: -5;
      &--one {
        top: 14%;
        width: 20%;
        animation: rotate-right 160s infinite linear;
      }
      &--two {
        bottom: 10%;
        left: 10%;
        width: 30%;
        animation: rotate-left 140s infinite linear;
      }
      &--three {
        top: 26%;
        left: 16%;
        width: 50%;
        animation: rotate-left 160s infinite linear;
      }
      &--four {
        top: 55%;
        left: -10%;
        width: 15%;
        animation: rotate-right 140s infinite linear;
      }
    }
  }
}
